.form-control {
    display: flex;
    background: rgb(30, 42, 71);
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 1.8em;

    .form-control-input {
        padding: 1em;
        background: rgb(30, 42, 71);
        border: none;
        height: 59px;
        border-radius: 15px;
        width: 100%;
    }

    .form-control-action {
        border: none;
        background: rgb(0, 121, 255);
        border-radius: 10px;
        padding: 0.5em 1.5em;
        font-weight: 700;
        height: 50px;
        color: #ffffff;
        font-size: 1em;
        font-family: inherit;
        letter-spacing: 0.5px;
    }
}