.profile-card {
    background: rgb(30, 42, 71);
    border-radius: 15px;
    padding: 2em 1.5em;

    // Header
    .header {
        display: flex;
        align-items: center;
    }

    .details {
        margin-left: 1.5em;
    }

    .details > a {
        color: rgb(0, 121, 255);
        display: inline-block;
        margin-bottom: 0.6em;
    }

    // Bio Section
    .bio {
        margin: 2em 0 1.7em 0;
    }

    .highlights {
        display: flex;
        justify-content: space-between;
        background: rgb(20, 29, 47);
        border-radius: 10px;
        padding: 1.2em 2em;
        margin-bottom: 1.5em;
    }

    .highlight {
        text-align: center;

        p {
            font-size: 0.688rem;
            margin-bottom: 0.5em
        }

        span {
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

.location-social-info {
    div {
        display: flex;
        align-items: center;
        margin-bottom: 0.75em;
    }
    
    div:last-child {
        margin-bottom: 1em;
    }

    img {
        margin-right: 1.1em;
    }

    .location > img {
        margin-right: 23px;
    }
}

.avatar-wrapper {
    .profile-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        
    }
}