.profile-card {
    background: rgb(30, 42, 71);
    border-radius: 15px;
    padding: 2em 1.5em;
}

.avatar-wrapper {
    .profile-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        
    }
}